# Creating a Function

In [1]:
def silicon_tech(number):
    print(f'Am siliconite and my age is :{number}')

In [2]:
silicon_tech(20)

Am siliconite and my age is :20

# Print v/s Return

In [3]:
def sum_result(a,b):
    print(a+b)

In [4]:
sum_result(2,3)

5

In [5]:
def sum_result(a,b):
    return(a+b)

In [7]:
result=sum_result(2,3)

In [8]:
result

5

In [ ]:
# Q) use function to check the list is even or odd and return even only
def check_number(list):
    return([a for a in list if a%2==0])

In [6]:
k=check_number([1,2,3,4,5])

In [7]:
k

[2, 4]

# Note: Return basically breaking out of the function.

In [12]:
def check_num(list1):
    for i in list1:
        if i%2==0:
            return (True)
        else:
            pass
        
list1=[1,2,3,4,5]
k=check_num(list1)

In [13]:
k

True

In [14]:
# Q) student_name=[('Ram',50),('gita',100),('shyam',30)]. Name of the student who have secured highest mark.
def student_name(data):
    mark=0
    student=''
    for student1,mark1 in data:
        if(mark1>mark):
            mark=mark1
            student=student1
        else:
            pass
    return(student,mark)

In [16]:
data=[('Ram',50),('gita',100),('shyam',30)]
student_name(data)

('gita', 100)

In [17]:
mylist=[4,3,2,1]

In [18]:
from random import shuffle
newlist=shuffle(mylist)

In [19]:
mylist

[1, 4, 2, 3]