# Fuctional Arguments:
# 1.*args(Arguments)
# 2.**kwargs(keyword Arguments)

In [1]:
# *argsa,b
def my_func(a,b):
    return sum((a,b))

In [2]:
my_func(2,3)

5

In [3]:
my_func(2,3,4,5)

TypeError: my_func() takes 2 positional arguments but 4 were given

In [4]:
def my_func(*args):
    return sum(args)

In [5]:
my_func(2,3,4,5)

14

In [6]:
def my_func(*sit):
    return sum(sit)

In [7]:
my_func(2,3,10)

15

# *args can be replaced by any other keyword like *sit. However, Coventionaly we use *args

In [8]:
#**kwargs
def my_func(**kwargs):
    print(kwargs)

In [9]:
my_func(brakefast=30,lunch=100)

{'brakefast': 30, 'lunch': 100}

In [10]:
my_func(brakefast=30,lunch=100,dinner=60)

{'brakefast': 30, 'lunch': 100, 'dinner': 60}

In [15]:
def my_func(**kwargs):
    if 'brakefast'in kwargs:
        print(f"The cost of breakfast is {kwargs['brakefast']}")
    elif 'lunch'in kwargs:
        print(f"The cost of lunch is {kwargs['lunch']}")
    elif 'dinner'in kwargs:
        print(f"The cost of dinner is {kwargs['dinner']}")

In [16]:
my_func(brakefast=30,lunch=100,dinner=60)

The cost of breakfast is 30

In [20]:
#using both functional arguments
def my_func(*args,**kwargs):
    print('I would like to have {}: {}'.format(args[0],kwargs['lunch']))

In [21]:
my_func(5,8,12,brakefast='upma',lunch='Paratha',dinner='roti')

I would like to have 5: Paratha

# Map Function

In [22]:
def mysquare(num):
    return num**2

In [24]:
mylist=[1,2,3,4]
#objective is to get square of each object defined in mylist
map(mysquare,mylist)

In [25]:
list(map(mysquare,mylist))

[1, 4, 9, 16]

# Filter Function

In [26]:
def check_even(num):
    if num % 2==0:
        return num

In [27]:
filter(check_even,[1,2,3,4])

In [28]:
list(filter(check_even,mylist))

[2, 4]

In [29]:
list(map(check_even,mylist))

[None, 2, None, 4]

In [30]:
my_square=lambda num:num**2

In [31]:
mysquare(2)

4

In [32]:
mylist=[1,2,3,4]
list(map(lambda num:num**2,mylist))

[1, 4, 9, 16]

In [33]:
list(filter(lambda num:num%2==0,[1,2,3,4]))

[2, 4]

# Assignment 3 : Reverse a string 'silicon'using lambda expression

In [43]:
 my_string='silicon'
def clg_name():
    my_string='Trident'
    def hello():
        my_string='ITER'
        print(f'Hello {my_string}')
    hello()
    
clg_name()

Hello ITER

In [44]:
x=100
def xyz():
    x=70
    return x
xyz()

70

# OOP

In [47]:
class Student():
    def __init__(self,name,regd):
        self.name=name
        self.regd=regd