# Step 1: Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Step 2: Import the data set

In [2]:
dataset=pd.read_csv('investment_data.csv')

In [3]:
dataset

,Capital investment,Employee salary,Advertisement expenditure,City,Turn over
0,165361.76,136897.80,471784.10,Kolkata,192274.39
1,162610.26,151377.59,443898.53,Bengaluru,191804.62
2,153454.07,101145.55,407934.54,Chennai,191062.95
3,144384.97,118671.85,383199.62,Kolkata,182914.55
4,142119.90,91391.77,366168.42,Chennai,166200.50
5,131889.46,99814.71,362861.36,Kolkata,157003.68
6,134628.02,147198.87,127716.82,Bengaluru,156135.07
7,130310.69,145530.06,323876.68,Chennai,155765.16
8,120555.08,148718.95,311613.29,Kolkata,152224.33
9,123347.44,108679.17,304981.62,Bengaluru,149772.52
10,101925.64,110594.11,229160.95,Chennai,146134.51
11,100684.52,91790.61,249744.55,Bengaluru,144271.96
12,93876.31,127320.38,249839.44,Chennai,141598.08
13,92004.95,135495.07,252664.93,Bengaluru,134319.91
14,119955.80,156547.42,256512.92,Chennai,132615.21
15,114536.17,122616.84,261776.23,Kolkata,129929.60
16,78025.67,121597.55,264346.06,Bengaluru,127005.49
17,94669.72,145077.58,282574.31,Kolkata,125382.93
18,91761.72,114175.79,294919.57,Chennai,124279.46
19,86432.26,153514.11,0.00,Kolkata,122789.42
20,76266.42,113867.30,298664.47,Bengaluru,118486.59
21,78402.03,153773.43,299737.29,Kolkata,111325.58
22,74007.12,122782.75,303319.26,Chennai,110364.81
23,67545.09,105751.03,304768.73,Chennai,108746.55
24,77056.57,99281.34,140574.81,Kolkata,108564.60
25,64677.27,139553.16,137962.62,Bengaluru,107416.90
26,75341.43,144135.98,134050.07,Chennai,105746.10
27,72120.16,127864.55,353183.81,Kolkata,105020.87
28,66064.08,182645.56,118148.20,Chennai,103294.94
29,65618.04,153032.06,107138.38,Kolkata,101017.20
30,62007.04,115641.28,91131.24,Chennai,99950.15
31,61148.94,152701.92,88218.23,Kolkata,97496.12
32,63421.42,129219.61,46085.25,Bengaluru,97440.40
33,55506.51,103057.49,214634.81,Chennai,96791.48
34,46438.63,157693.92,210797.67,Bengaluru,96725.36
35,46026.58,85047.44,205517.64,Kolkata,96492.07
36,28676.32,127056.21,201126.82,Chennai,90720.75
37,44082.51,51283.14,197029.42,Bengaluru,89961.70
38,20242.15,65947.93,185265.10,Kolkata,81241.62
39,38571.07,82982.09,174999.30,Bengaluru,81018.32
40,28766.89,118546.05,172795.67,Bengaluru,78252.47
41,27905.48,84710.77,164470.71,Chennai,77811.39
42,23653.49,96189.63,148001.11,Bengaluru,71511.05
43,15518.29,127382.30,35534.17,Kolkata,69771.54
44,22190.30,154806.14,28334.72,Bengaluru,65212.89
45,1012.79,124153.04,1903.93,Kolkata,64938.64
46,1328.02,115816.21,297114.46,Chennai,49503.31
47,12.56,135426.92,0.00,Bengaluru,42572.29
48,554.61,51743.15,0.00,Kolkata,35685.97
49,12.56,116983.80,45173.06,Bengaluru,14693.96

In [4]:
dataset=dataset[["Capital investment","Employee salary","Advertisement expenditure","Turn over","City"]]
dataset

,Capital investment,Employee salary,Advertisement expenditure,Turn over,City
0,165361.76,136897.80,471784.10,192274.39,Kolkata
1,162610.26,151377.59,443898.53,191804.62,Bengaluru
2,153454.07,101145.55,407934.54,191062.95,Chennai
3,144384.97,118671.85,383199.62,182914.55,Kolkata
4,142119.90,91391.77,366168.42,166200.50,Chennai
5,131889.46,99814.71,362861.36,157003.68,Kolkata
6,134628.02,147198.87,127716.82,156135.07,Bengaluru
7,130310.69,145530.06,323876.68,155765.16,Chennai
8,120555.08,148718.95,311613.29,152224.33,Kolkata
9,123347.44,108679.17,304981.62,149772.52,Bengaluru
10,101925.64,110594.11,229160.95,146134.51,Chennai
11,100684.52,91790.61,249744.55,144271.96,Bengaluru
12,93876.31,127320.38,249839.44,141598.08,Chennai
13,92004.95,135495.07,252664.93,134319.91,Bengaluru
14,119955.80,156547.42,256512.92,132615.21,Chennai
15,114536.17,122616.84,261776.23,129929.60,Kolkata
16,78025.67,121597.55,264346.06,127005.49,Bengaluru
17,94669.72,145077.58,282574.31,125382.93,Kolkata
18,91761.72,114175.79,294919.57,124279.46,Chennai
19,86432.26,153514.11,0.00,122789.42,Kolkata
20,76266.42,113867.30,298664.47,118486.59,Bengaluru
21,78402.03,153773.43,299737.29,111325.58,Kolkata
22,74007.12,122782.75,303319.26,110364.81,Chennai
23,67545.09,105751.03,304768.73,108746.55,Chennai
24,77056.57,99281.34,140574.81,108564.60,Kolkata
25,64677.27,139553.16,137962.62,107416.90,Bengaluru
26,75341.43,144135.98,134050.07,105746.10,Chennai
27,72120.16,127864.55,353183.81,105020.87,Kolkata
28,66064.08,182645.56,118148.20,103294.94,Chennai
29,65618.04,153032.06,107138.38,101017.20,Kolkata
30,62007.04,115641.28,91131.24,99950.15,Chennai
31,61148.94,152701.92,88218.23,97496.12,Kolkata
32,63421.42,129219.61,46085.25,97440.40,Bengaluru
33,55506.51,103057.49,214634.81,96791.48,Chennai
34,46438.63,157693.92,210797.67,96725.36,Bengaluru
35,46026.58,85047.44,205517.64,96492.07,Kolkata
36,28676.32,127056.21,201126.82,90720.75,Chennai
37,44082.51,51283.14,197029.42,89961.70,Bengaluru
38,20242.15,65947.93,185265.10,81241.62,Kolkata
39,38571.07,82982.09,174999.30,81018.32,Bengaluru
40,28766.89,118546.05,172795.67,78252.47,Bengaluru
41,27905.48,84710.77,164470.71,77811.39,Chennai
42,23653.49,96189.63,148001.11,71511.05,Bengaluru
43,15518.29,127382.30,35534.17,69771.54,Kolkata
44,22190.30,154806.14,28334.72,65212.89,Bengaluru
45,1012.79,124153.04,1903.93,64938.64,Kolkata
46,1328.02,115816.21,297114.46,49503.31,Chennai
47,12.56,135426.92,0.00,42572.29,Bengaluru
48,554.61,51743.15,0.00,35685.97,Kolkata
49,12.56,116983.80,45173.06,14693.96,Bengaluru

# Step 3: To create feature matrix(x) and dependent variable vector(y)

In [6]:
x=dataset.iloc[:,:-1]
y=dataset.iloc[:,-1]

In [7]:
x

    Capital investment  Employee salary  Advertisement expenditure  Turn over
0            165361.76        136897.80                  471784.10  192274.39
1            162610.26        151377.59                  443898.53  191804.62
2            153454.07        101145.55                  407934.54  191062.95
3            144384.97        118671.85                  383199.62  182914.55
4            142119.90         91391.77                  366168.42  166200.50
5            131889.46         99814.71                  362861.36  157003.68
6            134628.02        147198.87                  127716.82  156135.07
7            130310.69        145530.06                  323876.68  155765.16
8            120555.08        148718.95                  311613.29  152224.33
9            123347.44        108679.17                  304981.62  149772.52
10           101925.64        110594.11                  229160.95  146134.51
11           100684.52         91790.61                  249744.55  144271.96
12            93876.31        127320.38                  249839.44  141598.08
13            92004.95        135495.07                  252664.93  134319.91
14           119955.80        156547.42                  256512.92  132615.21
15           114536.17        122616.84                  261776.23  129929.60
16            78025.67        121597.55                  264346.06  127005.49
17            94669.72        145077.58                  282574.31  125382.93
18            91761.72        114175.79                  294919.57  124279.46
19            86432.26        153514.11                       0.00  122789.42
20            76266.42        113867.30                  298664.47  118486.59
21            78402.03        153773.43                  299737.29  111325.58
22            74007.12        122782.75                  303319.26  110364.81
23            67545.09        105751.03                  304768.73  108746.55
24            77056.57         99281.34                  140574.81  108564.60
25            64677.27        139553.16                  137962.62  107416.90
26            75341.43        144135.98                  134050.07  105746.10
27            72120.16        127864.55                  353183.81  105020.87
28            66064.08        182645.56                  118148.20  103294.94
29            65618.04        153032.06                  107138.38  101017.20
30            62007.04        115641.28                   91131.24   99950.15
31            61148.94        152701.92                   88218.23   97496.12
32            63421.42        129219.61                   46085.25   97440.40
33            55506.51        103057.49                  214634.81   96791.48
34            46438.63        157693.92                  210797.67   96725.36
35            46026.58         85047.44                  205517.64   96492.07
36            28676.32        127056.21                  201126.82   90720.75
37            44082.51         51283.14                  197029.42   89961.70
38            20242.15         65947.93                  185265.10   81241.62
39            38571.07         82982.09                  174999.30   81018.32
40            28766.89        118546.05                  172795.67   78252.47
41            27905.48         84710.77                  164470.71   77811.39
42            23653.49         96189.63                  148001.11   71511.05
43            15518.29        127382.30                   35534.17   69771.54
44            22190.30        154806.14                   28334.72   65212.89
45             1012.79        124153.04                    1903.93   64938.64
46             1328.02        115816.21                  297114.46   49503.31
47               12.56        135426.92                       0.00   42572.29
48              554.61         51743.15                       0.00   35685.97
49               12.56        116983.80                   45173.06   14693.96

In [8]:
y

0       Kolkata
1     Bengaluru
2       Chennai
3       Kolkata
4       Chennai
5       Kolkata
6     Bengaluru
7       Chennai
8       Kolkata
9     Bengaluru
10      Chennai
11    Bengaluru
12      Chennai
13    Bengaluru
14      Chennai
15      Kolkata
16    Bengaluru
17      Kolkata
18      Chennai
19      Kolkata
20    Bengaluru
21      Kolkata
22      Chennai
23      Chennai
24      Kolkata
25    Bengaluru
26      Chennai
27      Kolkata
28      Chennai
29      Kolkata
30      Chennai
31      Kolkata
32    Bengaluru
33      Chennai
34    Bengaluru
35      Kolkata
36      Chennai
37    Bengaluru
38      Kolkata
39    Bengaluru
40    Bengaluru
41      Chennai
42    Bengaluru
43      Kolkata
44    Bengaluru
45      Kolkata
46      Chennai
47    Bengaluru
48      Kolkata
49    Bengaluru
Name: City, dtype: object

# Step 4: Replacing the missing data(not required)

# step 5: Encoding

# Dependent Variable vector using LabelEncoder

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y=np.array(le.fit_transform(y))

In [10]:
y

array([2, 0, 1, 2, 1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1, 2, 0, 2, 1, 2, 0, 2,
       1, 1, 2, 0, 1, 2, 1, 2, 1, 2, 0, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0, 2,
       0, 2, 1, 0, 2, 0])

# Step 6 : Spliting to data set into training data set and testing data set

In [11]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=1)

In [12]:
xtrain

    Capital investment  Employee salary  Advertisement expenditure  Turn over
32            63421.42        129219.61                   46085.25   97440.40
39            38571.07         82982.09                  174999.30   81018.32
21            78402.03        153773.43                  299737.29  111325.58
36            28676.32        127056.21                  201126.82   90720.75
19            86432.26        153514.11                       0.00  122789.42
42            23653.49         96189.63                  148001.11   71511.05
49               12.56        116983.80                   45173.06   14693.96
26            75341.43        144135.98                  134050.07  105746.10
22            74007.12        122782.75                  303319.26  110364.81
13            92004.95        135495.07                  252664.93  134319.91
41            27905.48         84710.77                  164470.71   77811.39
17            94669.72        145077.58                  282574.31  125382.93
45             1012.79        124153.04                    1903.93   64938.64
24            77056.57         99281.34                  140574.81  108564.60
23            67545.09        105751.03                  304768.73  108746.55
4            142119.90         91391.77                  366168.42  166200.50
33            55506.51        103057.49                  214634.81   96791.48
14           119955.80        156547.42                  256512.92  132615.21
30            62007.04        115641.28                   91131.24   99950.15
10           101925.64        110594.11                  229160.95  146134.51
28            66064.08        182645.56                  118148.20  103294.94
44            22190.30        154806.14                   28334.72   65212.89
34            46438.63        157693.92                  210797.67   96725.36
18            91761.72        114175.79                  294919.57  124279.46
20            76266.42        113867.30                  298664.47  118486.59
25            64677.27        139553.16                  137962.62  107416.90
6            134628.02        147198.87                  127716.82  156135.07
7            130310.69        145530.06                  323876.68  155765.16
47               12.56        135426.92                       0.00   42572.29
1            162610.26        151377.59                  443898.53  191804.62
16            78025.67        121597.55                  264346.06  127005.49
0            165361.76        136897.80                  471784.10  192274.39
15           114536.17        122616.84                  261776.23  129929.60
5            131889.46         99814.71                  362861.36  157003.68
11           100684.52         91790.61                  249744.55  144271.96
9            123347.44        108679.17                  304981.62  149772.52
8            120555.08        148718.95                  311613.29  152224.33
12            93876.31        127320.38                  249839.44  141598.08
43            15518.29        127382.30                   35534.17   69771.54
37            44082.51         51283.14                  197029.42   89961.70

In [13]:
ytrain

array([0, 0, 2, 1, 2, 0, 0, 1, 1, 0, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 2, 2, 2, 0, 0, 2, 1, 2, 0])

In [14]:
xtest

    Capital investment  Employee salary  Advertisement expenditure  Turn over
27            72120.16        127864.55                  353183.81  105020.87
35            46026.58         85047.44                  205517.64   96492.07
40            28766.89        118546.05                  172795.67   78252.47
38            20242.15         65947.93                  185265.10   81241.62
2            153454.07        101145.55                  407934.54  191062.95
3            144384.97        118671.85                  383199.62  182914.55
48              554.61         51743.15                       0.00   35685.97
29            65618.04        153032.06                  107138.38  101017.20
46             1328.02        115816.21                  297114.46   49503.31
31            61148.94        152701.92                   88218.23   97496.12

In [15]:
ytest

array([2, 2, 0, 2, 1, 2, 2, 2, 1, 2])

# Step 7: Feature Scaling

In [16]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x[:]=sc.fit_transform(x[:])

In [17]:
x

    Capital investment  Employee salary  Advertisement expenditure  Turn over
0             2.016411         0.560753                   2.153943   2.011203
1             1.955860         1.082807                   1.923600   1.999430
2             1.754364        -0.728257                   1.626528   1.980842
3             1.554784        -0.096365                   1.422210   1.776627
4             1.504937        -1.079919                   1.281528   1.357740
5             1.279800        -0.776239                   1.254210   1.127250
6             1.340066         0.932147                  -0.688150   1.105481
7             1.245057         0.871980                   0.932186   1.096210
8             1.030369         0.986952                   0.830887   1.007470
9             1.091819        -0.456640                   0.776107   0.946022
10            0.620398        -0.387599                   0.149807   0.854847
11            0.593085        -1.065540                   0.319834   0.808168
12            0.443260         0.215449                   0.320617   0.741155
13            0.402078         0.510179                   0.343957   0.558750
14            1.017181         1.269199                   0.375742   0.516026
15            0.897913         0.045868                   0.419219   0.448720
16            0.094441         0.009118                   0.440446   0.375436
17            0.460720         0.855666                   0.591017   0.334771
18            0.396725        -0.258465                   0.692992   0.307116
19            0.279442         1.159837                  -1.743127   0.269773
20            0.055726        -0.269588                   0.723926   0.161935
21            0.102724         1.169186                   0.732788  -0.017534
22            0.006007         0.051850                   0.762376  -0.041613
23           -0.136201        -0.562211                   0.774349  -0.082169
24            0.073115        -0.795469                  -0.581939  -0.086729
25           -0.199312         0.656489                  -0.603517  -0.115493
26            0.035370         0.821718                  -0.635835  -0.157367
27           -0.035519         0.235069                   1.174271  -0.175542
28           -0.168793         2.210141                  -0.767189  -0.218798
29           -0.178609         1.142457                  -0.858134  -0.275882
30           -0.258074        -0.205629                  -0.990357  -0.302625
31           -0.276958         1.130554                  -1.014419  -0.364127
32           -0.226949         0.283924                  -1.362450  -0.365524
33           -0.401129        -0.659324                   0.029817  -0.381787
34           -0.600682         1.310535                  -0.001879  -0.383444
35           -0.609750        -1.308658                  -0.045493  -0.389291
36           -0.991570         0.205925                  -0.081763  -0.533932
37           -0.652532        -2.525994                  -0.115608  -0.552955
38           -1.177178        -1.997270                  -0.212785  -0.771497
39           -0.773820        -1.383122                  -0.297583  -0.777094
40           -0.989577        -0.100900                  -0.315786  -0.846411
41           -1.008534        -1.320796                  -0.384552  -0.857466
42           -1.102106        -0.906938                  -0.520596  -1.015365
43           -1.281134         0.217682                  -1.449605  -1.058960
44           -1.134305         1.206419                  -1.509074  -1.173209
45           -1.600350         0.101254                  -1.727400  -1.180082
46           -1.593413        -0.199322                   0.711122  -1.566922
47           -1.622362         0.507722                  -1.743127  -1.740627
48           -1.610433        -2.509409                  -1.743127  -1.913212
49           -1.622362        -0.157226                  -1.369985  -2.439313